header {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn-cart, .by-btn {
    width: 100px;
    height: 40px;
    outline: none;
    border-radius: 10px;
}

.btn-cart:hover, .by-btn:hover {
    background-color: aquamarine;
}

.products {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

.product-item {
    outline: 1px solid grey;
    padding: 10px;
}

.product-item:hover {
    box-shadow: 0 0 25px darkgrey;
}

.image {
    width: 70%;
}

.image:hover {
    transform: scale(1.1);
}